@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

body{
	width:1150px;
	margin:10px auto;
	background-color: rgb(26,29,33);
	color: white;
	/* font-family: 'Noto Serif JP', sans-serif; */
	font-family: 'Shippori Mincho B1', serif; 
}
nav{
    font-family: sans-serif;
    border: 1px solid #cccccc;
    background-color: rgb(146, 197, 249);
    position: fixed;
    left: 0px;
    width: 200px;
	top: 0px;
	height: 100%;
}

#pageTitle {
	width: 100%
}

main{
    position: absolute;
	left: 300px;
}


.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px;
    background:white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
	visibility: hidden;
	color: black;
  }

  .tooltipGraph {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px;
    background:white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
	visibility: hidden;
	color: black;
  }
 
.bar:hover {
	fill: Brown;
}


path{
	fill-opacity:0.8;
	/* stroke-opacity:1; */
}
.vlines, .hlines{
	stroke:rgb(150,148,109);
	shape-rendering:crispEdges;
	stroke-width:1px;
	stroke-opacity:0.3;
}
.hlabels line, .vlabels line{
	stroke:rgb(150,148,109);
	shape-rendering:crispEdges;
	stroke-width:1px;
	stroke-opacity:0.7;
}
.hlabels text, .vlabels text{
	color:rgb(150,148,109);
	font-size:12px;
	font-family: 'Quicksand', sans-serif;
}
.htitle text, .vtitle text{
	font-family: 'Noto Serif JP', sans-serif;
}

.htitlePre text, .vtitlePre text{
	font-family: 'Noto Serif JP', sans-serif;
}

svg{
	display:inline;
	float:left;
	color: white;
}
.legend{
	display:inline-block;
	margin:10px;
	margin-top:30px;
	margin-left:0;
	max-height:300px;
	min-width:190px;
	overflow:auto;
	color: black;
	font-family: 'Noto Serif JP', sans-serif;
}
.legend table{
	border-collapse:collapse;
	border-spacing:0;
}
.legend tr, .legend td, .legend div{
	margin:0;
	padding:0;
}
.legend div{
	width:20px;
	height:20px;
  float: left;
  border: 1px solid #505050;
}
.legend span{
	padding: 0 5px;
	margin:0;
}
.legend tr:hover{
	background:silver;
}
.shopdatadiv{
	clear:both;
	padding:10px;
	overflow:hidden;
	margin: 20px;
}
.shopdatadiv h3{
	padding-left: 40px;
	margin-bottom:0;
}

.vlinesPre, .hlinesPre{
	stroke:rgb(150,148,109);
	shape-rendering:crispEdges;
	stroke-width:1px;
	stroke-opacity:0.3;
}
.hlabelsPre line, .vlabelsPre line{
	stroke:rgb(150,148,109);
	shape-rendering:crispEdges;
	stroke-width:1px;
	stroke-opacity:0.7;
}
.hlabelsPre text, .vlabelsPre text{
	color:rgb(150,148,109);
	font-size:12px;
	font-family: 'Quicksand', sans-serif;
}
.shopdatadivPre{
	clear:both;
	padding:10px;
	overflow:hidden;
	margin: 20px;
}
.shopdatadivPre h3{
	padding-left: 40px;
	margin-bottom:0;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 10px;
	width: 80%;
	background: rgb(146, 197, 249)
	}
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #888a8a;
	border-radius: 25px;
	border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 1px solid #303030;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: #008080;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3.6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #888a8a;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #888a8a;
	border-radius: 25px;
	border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: #008080;
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 39px 0;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	background: #888a8a;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
	background: #888a8a;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: #008080;
	cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #888a8a;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #888a8a;
  }
  
  body {
	padding: 30px;
  }


#yearCurrentValue {
	color: white;
	/* font-family: 'Quicksand', sans-serif; */
	/* font-family: 'Noto Serif JP', sans-serif; */
	font-family: 'Shippori Mincho B1', serif; 
	font-size: 35px;
}
#LegendsTitle {
	color: #1e366a;
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'Noto Serif JP', sans-serif;
	font-size: 20px;
}
#prefectureMap {
	margin: 10px 0;
}
