@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
body {
    width: 1150px;
    margin: 10px auto;
    background-color: rgb(26, 29, 33);
    color: white;
    /* font-family: 'Noto Serif JP', sans-serif; */
    font-family: 'Shippori Mincho B1', serif;
    z-index: 1;
}

nav {
    font-family: sans-serif;
    /* border: 1px solid #cccccc; */
    /* background-color: rgb(136, 187, 238); */
    background-color: rgb(51, 43, 122);
    position: fixed;
    left: 0px;
    width: 201px;
    top: 0px;
    height: calc(100% - 40px);
    padding: 20px;
    z-index: 2;
    overflow: auto;
}

#pageTitle {
    width: 100%
}

main {
    position: absolute;
    left: 300px;
}

.Japan {
    display: flex;
}

.Prefecture {
    display: flex;
}

.map {
    display: flex;
    gap: 0px 20px;
    flex-wrap: wrap;
}

.graph {
    display: flex;
    gap: 0px 150px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px;
    background: white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    visibility: hidden;
    color: black;
}

.tooltipGraph {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px;
    background: white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    visibility: hidden;
    color: black;
    /* color: rgb(45, 52, 73) */
}

.bar:hover {
    fill: Brown;
}

path {
    fill-opacity: 0.8;
    /* stroke-opacity:1; */
}

.vlines,
.hlines {
    stroke: rgb(109, 150, 150);
    shape-rendering: crispEdges;
    stroke-width: 1px;
    stroke-opacity: 0.3;
}

.hlabels line,
.vlabels line {
    stroke: rgb(109, 150, 150);
    shape-rendering: crispEdges;
    stroke-width: 1px;
    stroke-opacity: 0.7;
}

.hlabels text,
.vlabels text {
    color: rgb(109, 150, 150);
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
}

.htitle text,
.vtitle text {
    font-family: 'M PLUS 1p', sans-serif;
}

.htitlePre text,
.vtitlePre text {
    font-family: 'M PLUS 1p', sans-serif;
}

svg {
    display: inline;
    float: left;
    color: white;
}

.legend {
    display: grid;
    margin: 10px;
    margin-top: 0px;
    margin-left: 0;
    /* height: 100%; */
    max-height: 325px;
    min-width: 190px;
    position: absolute;
    /* overflow: auto; */
    color: white;
    font-family: 'Noto Serif JP', sans-serif;
    margin-bottom: 50px;
    /* -webkit-overflow-scrolling: touch; */
    box-sizing: border-box;
    flex-direction: column;
}

.legend>p:last-of-type {
    flex: 1;
    min-height: 0;
}

.legend table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    box-sizing: border-box;
}

.legend tr,
.legend td,
.legend div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.legend div {
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid #505050;
    overflow: auto;
}

.legend span {
    padding: 0 5px;
    margin: 0;
}

.legend tr:hover {
    background: silver;
}

.shopdatadiv {
    clear: both;
    padding: 10px;
    overflow: hidden;
    margin: 10px;
}

.shopdatadiv h3 {
    padding-left: 40px;
    margin-bottom: 0;
}

.vlinesPre,
.hlinesPre {
    stroke: rgb(109, 150, 150);
    shape-rendering: crispEdges;
    stroke-width: 1px;
    stroke-opacity: 0.3;
}

.hlabelsPre line,
.vlabelsPre line {
    stroke: rgb(109, 150, 150);
    shape-rendering: crispEdges;
    stroke-width: 1px;
    stroke-opacity: 0.7;
}

.hlabelsPre text,
.vlabelsPre text {
    color: rgb(109, 150, 150);
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
}

.shopdatadivPre {
    clear: both;
    padding: 10px;
    overflow: hidden;
    margin: 10px;
}

.shopdatadivPre h3 {
    padding-left: 40px;
    margin-bottom: 0;
}

body {
    padding: 30px;
}

#yearCurrentValue {
    color: white;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Noto Serif JP', sans-serif; */
    font-family: 'Shippori Mincho B1', serif;
    font-size: 35px;
    text-align: center;
}

.titles {
    color: rgb(94, 253, 219);
    /* color: rgb(214, 39, 161) ; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Noto Serif JP', sans-serif; */
    font-family: 'Shippori Mincho B1', serif;
    font-size: 20px;
}
.auto_play_button{
    color: rgb(255,0,0);
    background-color:rgb(51, 43, 122);
    float:right;
    vertical-align:middle;
}

#LegendsTitle {
    margin-top: 50px;
}

.rs-range {
    margin-top: 29px;
    width: 100%;
    -webkit-appearance: none;
}

.rs-range:focus {
    outline: none;
}

.rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}

.rs-range::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    /* background: #1e366a; */
    /* background: rgb(214, 118, 39); */
    background: rgb(214, 39, 161);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}

.rs-range::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}

.rs-range::-moz-focus-outer {
    border: 0;
}